header {
    background-color: cyan;
    position: relative;
    ;
}
header div{
    position: relative;
    border: 100px;
    display: flex;
    gap: 35px;
    padding-left: 1050px;
}
footer {
    background-color: turquoise;
}